<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850547029095-4iumim7b3gai4shc75p5fl15chv6i1n0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850547029095-4iumim7b3gai4shc75p5fl15chv6i1n0</string>
	<key>API_KEY</key>
	<string>AIzaSyBBOLMk3XKN-GKMotIlxIHqfEYCIJ1oi9I</string>
	<key>GCM_SENDER_ID</key>
	<string>850547029095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-24cb6</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-24cb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850547029095:ios:ab44586273a4e381c890c2</string>
</dict>
</plist>